<li class="coinWrapper" style="height: @Getwidth();">
              <div class="coinControls" style="top: @GetCoinCenter();">
                <span class="coinSubtract" @onclick="DecrementUnit">
                  -
                </span>
                <span class="coinAdd" @onclick="IncrementUnit">
                  +
                </span>
                <span class="count">
                  @count
                </span>
              </div>
              <div
                class="currency @CurrencyModel.Type.ToString().ToLower()"
                style="
                  background-image: url('@CurrencyModel.ImageUrl');
                  width: @Getwidth();
                  height: @GetHeight();"
                @onclick="IncrementUnit"
              ></div>
            </li>