<li class="coinWrapper" style="height: @(GetHeight())rem">
              <div class="coinControls" style="top: @(@GetCoinCenter())rem">
                <span class="coinSubtract" @onclick="DecrementUnit">
                  -
                </span>
                <span class="coinAdd" @onclick="IncrementUnit">
                  +
                </span>
                <span class="count">
                  @count
                </span>
              </div>
              <div
                class="currency @CurrencyModel.Type.ToString().ToLower()"
                style="
                  background-image: url('@CurrencyModel.ImageUrl');
                  width: @(Getwidth())rem;
                  height: @(GetHeight())rem;"
                @onclick="IncrementUnit"
              ></div>
            </li>