<li class="coinWrapper" style="height: @GetCoinSize();">
              <div class="coinControls" style="top: @GetCoinCenter();">
                <span class="coinSubtract" @onclick="DecrementUnit">
                  -
                </span>
                <span class="coinAdd" @onclick="IncrementUnit">
                  +
                </span>
                <span class="count">
                  @currentCount
                </span>
              </div>
              <div
                class="coin"
                style="
                  background-image: url('@CurrencyModel.ImageUrl');
                  width: @GetCoinSize();
                  height: @GetCoinSize();"
                @onclick="IncrementUnit"
              ></div>
            </li>