<li class="currencyWrapper" style="height: @(GetHeight())rem">
              <div
                class="currency @CurrencyModel.Type.ToString().ToLower()"
                style="
                  background-image: url('@CurrencyModel.ImageUrl');
                  width: @(Getwidth())rem;
                  height: @(GetHeight())rem;"
                @onclick="IncrementUnit"
              ></div>
              <div class="currencyControls" style="top: @(@GetCurrencyCenter())rem">
                <span class="control minus" @onclick="DecrementUnit" />
                <span class="control plus" @onclick="IncrementUnit" />
                <span class="count">
                  @count
                </span>
              </div>
            </li>